@charset "utf-8";

/* リセット */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#wrapper{
  overflow: hidden;
}


/*　骨組み　*/

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.inner{
  width: 1000px;
  margin: 0 auto;
}


.pc{
  display: block;
}
.sp{
  display:none;
}

@media screen and (max-width:1000px){
  .inner{
    width: 95%;
  }
  .pc{
  display: none;
  }
  .sp{
    display:block;
  }
  .header-top{
    border-bottom: solid 30px #0a3344;
  }
}

.header-top{
  padding: 20px 0;
  background-image: url(../img/mv-bg.png),url(../img/bg_old.jpeg);
  background-size: cover,contain;
}

.header-mv{
  display: flex;
  justify-content: center;
}

.header-mv img{
  width: 180px;
  height: auto;
}
.header-top h1,.header-top p{
  text-align: center;
}

.header-top p{
    font-size: 20px;
    padding: 20px 0;
    color: white;
}

.header-top h1 a{
  text-decoration: none;
  font-family: "M PLUS Rounded 1c";
  font-size: 45px;
  color: #fff;
    text-shadow    :
       3px  3px 0px #36393e,
      -3px  3px 0px #36393e,
       3px -3px 0px #36393e,
      -3px -3px 0px #36393e,
       2px  0px 0px #36393e,
       0px  3px 0px #36393e,
      -3px  0px 0px #36393e,
       0px -3px 0px #36393e;        /* 文字の影 */
}

.header-top h1:first-letter{
  color: #FC4A4A;
  font-size: 55px;
}

.header-bottom{
  background-color: #36393e;
  color: #fff;
  width: 100%;
  z-index: 100;
}

.header-bottom.fixed{
  position: fixed;
  top: 0;
  opacity: 0.6;
}

.header-bottom ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.header-bottom ul li a{
  display: block;
  color: #fff;
  font-size: 25px;
  padding: 25px 20px;
  font-family: "M PLUS Rounded 1c";
  text-decoration: none;
}

.header-bottom ul li a:hover{
  filter: brightness(40%);
}

.contents{
  display:flex;
  margin: 50px auto 100px auto;
}

.side-menu{
  min-width: 300px;
  height:1000px;
}

.side-menu-inner{
  width: 100%;
  height: 500px;
  padding: 30px 15px;
  border:solid 4px #595758;
  box-sizing: border-box;
}

.main-contents{
  width: 100%;
  margin-left: 20px;
  background: lightgray;
  box-sizing: border-box;
}

.footer{
  padding: 0px 0px 70px 0;
  background-image: url(../img/bg_old.jpeg);
  font-family: "M PLUS Rounded 1c";
}

.footer-text{
  background-color: #36393e;
  padding: 20px 0;
  text-align: center;
  color: white;
}
/*-------------------------------------------------------------
/ ハンバーガーメニューのスタイル　　　
/-------------------------------------------------------------*/
.header-bottom{
  position: relative;
}

.sp-menu-wrap{
  display: none;
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 205;
}

.menu-trigger{
  display: inline-block;
  position: relative;
  width: 36px;
  height: 28px;
  vertical-align: middle;
  cursor: pointer;
}

.menu-trigger span{
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: all .5s .2s;
  box-shadow: 0px 0px 5px #696969;
  z-index: 300;
}

.menu-trigger.active span{
  background: #fff;
  box-shadow: none;
}

.menu-trigger span:nth-of-type(1){
  top: 0;
}

.menu-trigger.active span:nth-of-type(1){
  transform: translateY(12px) rotate(-45deg);
}

.menu-trigger span:nth-of-type(2) {
  top: 12px;
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-12px) rotate(45deg);
}

.sp-menu{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}

.sp-menu ul{
  display: block;
  padding: 70px 0;
}

.sp-menu ul li{
  padding: 5px 0;
}

.sp-menu ul li a{
  display: block;
  padding: 20px 0;
  color: white;
  font-size: 7vw;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c";
}

.sp-menu ul li a:hover{
  background: rgba(0,0,0,0.4);
}

@media screen and (max-width:768px){
  .sp-menu-wrap{
    display: block;
  }
}

/*-------------------------------------------------------------
/ トグルメニューのスタイル　　　　　
/-------------------------------------------------------------*/
.toggle-wrap{
  display: block;
  width: 300px;
  margin: 0 auto;
}
.toggle-wrap:last-of-type{
  border-bottom: 1px soli gray;
}

.toggle-switch{
  position: relative;
  cursor: pointer;
  padding: 5px 10px;
  border-top: 1px solid gray;
}

.toggle-switch p{
  padding: 20px 0;
}

.toggle-switch.open{
  border-bottom: 1px solid gray;
}

.toggle-switch::after{
  content: "";
  display: inline-block;
  width: 18px;
  height: 11px;
  background: url(../img/arrow_down.svg) no-repeat center center;
  background-size:contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  transition: transform .5s;
}

.toggle-switch.open::after{
  transform: rotateZ(180deg);
  top: 46%;
}

.toggle-switch:hover{
  background: #eee;
}

.toggle-contents{
  display: none;
  padding: 5px 10px;
}

/*-------------------------------------------------------------
/ 記事一覧のスタイル　　　　　
/-------------------------------------------------------------*/
.kijilist-wrap{
  display: flex;
}

.kijilist-left{
  width: 20%;
}
